php_value short_open_tag On
php_value zend.multibyte On

ForceType application/x-httpd-php
ErrorDocument 404 /oldetranslate/ote/404.php
#php_value session.use_trans_sid Off
#php_value session.register_globals Off